* {
    margin:0;
    padding:0;
}

 .container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.bookimg{
    height:280px;
    object-fit: cover;
}

.delete-wrapper{
    width:240px;
    display: flex;
    justify-content: flex-end;
}

.delete{
    font-size: 125%;
    font-weight: bold;
    padding-right: 10px;
    cursor: pointer;
}

.mat-card-content p {
    text-align: center;
}

.booktitle{
    min-height: 3em;
}

.cart-btn {
    display: flex;
    justify-content: flex-end;
    min-width: 80px;
}

/* par = even 偶数, impar = odd 奇数*/
.esPar {
    background-color: midnightblue;
    color:white;
}

.esImpar {
    background-color: cadetblue;
    color:black;
}