* {
    margin:0;
    padding:0;
}

 .container {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

/* .container {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-wrapper{
    border:2px solid orange;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap:20px;
    justify-content: center;
} */

/* .card {
    height: 500px;
} */

.bookimg{
    height:280px;
    object-fit: cover;
    /* margin-bottom: 10px;
    margin-top:0; */
}

.delete-wrapper{
    /* border:2px solid purple; */
    width:240px;
    display: flex;
    justify-content: flex-end;
}

.delete{
    /* border: 2px solid red; */
    font-size: 125%;
    font-weight: bold;
    padding-right: 10px;
    cursor: pointer;
}


.booktitle{
    min-height: 3em;
}
/* .card {
    background-color: rgba(255, 255, 255, 0.247);
    background-color:#f8f3e8;
    box-shadow: 0 0 40px rgba(0,0,0,0.2), 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius:3px;
    color: #4a4a7d;
    width: 240px;
    height: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Kalam', cursive;
    line-height: 25px;
}

.image{
    width: 160px;
    height:180px;
    object-fit: cover;
    margin-bottom: 10px;
    margin-top:0;
}

.booktitle {
    height: 54px;
    text-align: justify;
    padding:3px;

}


.form-wrapper{
    border:2px solid red;
    margin-bottom:100px;
    display: flex;
    justify-content: center;
}

.form{
    border:2px solid white;
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 400px;
    align-items: center;
    line-height: 50px;
}

input {
    color:var(--main-color);
    font-family: var(--main-font-family);
    font-size: 18px;
    width:240px;
    height:30px;
    background-color: transparent;
    border-radius: 10px;
    border:1px solid rgba(255, 255, 255, 0.322);
}

::placeholder{
    text-align: center;
}

button {
    width:100px;
    height:30px;
    border-radius: 8px;
    margin-top: 8px;
    color:var(--main-color);
}

.btn-insertar{
    background-color: darkred;
    margin-top: 10px; */
/* } */

/* par = even 偶数, impar = odd 奇数*/
.esPar {
    background-color: midnightblue;
    color:white !important;
}

.esImpar {
    background-color: cadetblue;
}