<footer>
    <div class="footer-wrapper">
        <div class="copyright">
            <p>©nao mukai 2023</p>
        </div>
        <div class="sns-icons">
            <div class="sns">
                <img src="assets/img/fb.png" alt="fb">
            </div>
            <div class="sns">
                <a href="https://www.linkedin.com/in/nao-mukai-205b71207/">
                    <img src="assets/img/linkedin.png" alt="linkedin">
                </a>
            </div>
            <div class="sns">
                <img src="assets/img/twitter.png" alt="twitter">
            </div>
        </div>
    </div>
</footer>