* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    color:var(--main-color);
    font-family:var(--main-font-family);
}

body {
    background-image: url('/assets/img/about-bg.jpg');
    background-repeat: repeat;
}


.form-wrapper {
    /* border:2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 110px;
    gap: 30px;
}

.output {
    /* border:2px solid white; */
    width:250px;
    background-color: rgb(109, 106, 106);
}

.form-left, .form-right {
    /* border: 2px solid whitesmoke; */
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 440px;
    position: relative;
    border-radius: 4px;
}

.form-right input{
    width: 250px;
    margin-bottom: 15px;
    color:black;
}

.form-right h2{
    margin-bottom:42px;
    text-decoration: underline;
    text-underline-offset: 15px;
}

button {
    background-color:cadetblue;
    margin-top: 20px;
    width:100px;
    height:30px;
}

.image{
    height:150px;
    width:150px;
    overflow:hidden;
    border-radius: 50%;
    margin-bottom: 16px;
}

.image img{
    width:100%;
    height:100%;
    display:block;
}

.class1 {
    color:rgb(3, 82, 3);
}

@media screen and (max-width: 679px){
    .form-wrapper {
        flex-direction: column;
        align-items: center;
    }
}