<body>
<div class="form-wrapper">
    <div>
        <form class="form-left">
            <img class="image" src="{{ myUser.photo }}" alt="img"/>
            <p class="title fullname">{{ myUser.nombreCompleto() }}</p>
            <p class="title name">Nombre: </p>
            <p class="output"> {{ myUser.name }}</p>
            <p class="title last_name">Apellido: </p>
            <p class="output"> {{ myUser.last_name }}</p>
            <p class="title email">Email: </p>
            <p class="output"> {{ myUser.email }}</p>
        </form>
     </div> 
    <div>
        <form class="form-right">        
            <h2>Editar datos</h2>
            
            <label for="input1">Nombre</label>
            <input type="text" #input1>
          
            <label for="input2">Apellido</label>
            <input type="text" #input2>
          
            <label for="input3">Email</label>
            <input type="email" #input3>
          
            <label for="input4">URL del foto</label>
            <input type="text" #input4>

            <button (click)="modificar(input1, input2, input3, input4)">Modificar</button>

            <p [class]="myClassCSS" [hidden]="isHidden">Usuario actualizado</p>
        </form>
    </div>
</div>
</body>