* {
    color:var(--main-color);
    margin:0;
    padding:0;
    font-family: var(--main-font-family);
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/img/fondoM.jpg');
    background-repeat: repeat;
}

.container {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-wrapper{
    /* border:2px solid orange; */
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap:20px;
    justify-content: center;
}

.card {
    background-color: rgba(255, 255, 255, 0.247);
    width: 240px;
    height: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image{
    width: 160px;
    height:auto;
    margin-bottom: 10px;
    margin-top:10px;
}

.booktitle {
    height: 54px;
    text-align: justify;
    padding: 10px;

}

.booktype {
    margin-bottom: 10px;
}

.backBtn-wrapper{
    /* border: 2px solid red; */
    padding-top:100px;
    padding-left: 80px;
}

.backBtn{
    color:white;
    width: 100px;
}


.search-wrapper{
    /* border:2px solid green; */
    padding-top:120px;
    display: flex;
    justify-content: center;
}

.container2{
    margin-top:50px;
    display:flex;
    justify-content: center;
}

.form-wrapper{
    /* border:2px solid red; */
    margin-bottom:100px;
    display: flex;
    justify-content: center;
}

.form{
    /* border:2px solid white; */
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 400px;
    align-items: center;
    line-height: 50px;
}

input {
    color:var(--main-color);
    font-size: 18px;
    width:240px;
    height:30px;
    background-color: transparent;
    border-radius: 10px;
    border:1px solid rgba(255, 255, 255, 0.322);
}

::placeholder{
    text-align: center;
}

/* button {
    width:100px;
    height:30px;
    border-radius: 8px;
    margin-top: 8px;
} */

.btn-insertar{
    background-color: darkred;
    margin-top: 10px;
    height:50px;
}

/* par = even 偶数, impar = odd 奇数*/
.esPar {
    background-color: midnightblue;
}

.esImpar {
    background-color: cadetblue;
}