* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/* .bg-image{
    background-image: url('/assets/img/fondoM.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:500px;
} */

/* .container {
    height: 50vh;
} */

body {
    background-image: url('/assets/img/banner.jpg');
    background-repeat: repeat;
}

.top-wrapper{
    /* border:2px solid red; */
    padding:160px 0 0 80px;
    width:100%;
}

h1{
    margin-bottom: 50px;
    color:white;
}

span{
    color:white;
}
