<!-- 本の追加や管理 -->
<body>
<main>
    <div class="form-wrapper">
        <form class="form">
            <p class="title">Añadir libro</p>
            <label for="title">
                <input placeholder="Título" type="text" class="input" #title>
            </label>
    
            <label for="type">
                <input placeholder="Tapa blanda/dura" type="text" class="input" #type>
            </label>
    
            <label for="author">
                <input placeholder="Autor" type="text" class="input" #author>
            </label>
    
            <label for="price">
                <input placeholder="Precio" type="text" class="input" #price>
            </label>
    
            <label for="photo">
                <input placeholder="Photo" type="text" class="input" #photo>
            </label>
    
            <label for="bookId">
                <input placeholder="Codigo Libro" type="text" class="input" #bookid>
            </label>
    
            <!-- <input class="btn btn-primary" type="button" value="Insertar Libro"> -->
            <!-- 上のidと一致する必要あり -->
            <button class="btn btn-light" type="button" (click)="insertarLibro(bookid.value, title.value, type.value, author.value, price.value, photo.value)">Insertar Libro</button>
    
            <!-- <input type="button" class="btn-insertar" (click)="addBooks(bookid, titulo, tipo, autor, precio, foto)" value="Insertar Libro"/> -->
        </form>
    </div>
    
    
</main>
</body>