<!-- 本の追加や管理 -->
<body>
<main>
    <div class="form-wrapper">
        <form class="form">
            <p class="title">Añadir libro</p>
            <label for="titulo">
                <input placeholder="Título" type="text" class="input" #titulo>
            </label>
    
            <label for="tipo">
                <input placeholder="Tapa Blanda/ Tapa Dura" type="text" class="input" #tipo>
            </label>
    
            <label for="autor">
                <input placeholder="Autor" type="text" class="input" #autor>
            </label>
    
            <label for="precio">
                <input placeholder="Precio" type="text" class="input" #precio>
            </label>
    
            <label for="foto">
                <input placeholder="Photo" type="text" class="input" #foto>
            </label>
    
            <!-- <label for="bookid">
                <input placeholder="Codigo Libro" type="text" class="input" #codigoLibro>
            </label> -->

            <button class="btn btn-warning" type="button" (click)="insertarLibro( titulo, tipo, autor, precio, foto)">Insertar Libro</button>
    
        </form>
    </div>
</main>
</body>