* {
    color:black;
    margin:0;
    padding:0;
    font-family: var(--main-font-family);
}

body {
    background-image: url('/assets/img/about-bg.jpg');
    background-repeat: repeat;
}



main {
    display:flex;
    justify-content: center;
}

.form-wrapper{
    /* border:2px solid red; */
    margin-top:120px;
    margin-bottom:100px;
    width: 300px;
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 30px;
}

.form{
    /* border:2px solid white; */
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 460px;
    align-items: center;
    line-height: 50px;
    background-color: black;
    margin-bottom:10px;
    border-radius: 20px;
}

.form p {
    color: white;
    font-size: 30px;
    padding-top:30px;
}

input {
    color:black;
    font-size: 18px;
    width:240px;
    height:30px;
    background-color: white;
    border-radius: 10px;
    border:1px solid black;
}

::placeholder{
    text-align: center;
}

.btn{
    margin-top: 20px;
    width: 130px;
    height: 48px;
}