body, html {
    margin: 0;
    padding: 0;
}

body{
    background-color:var(--bg-color);
    color: var(--main-color);
    font-family: var(--main-font-family);
    font-size: 20px;
    margin:0;
    padding:0;
    min-height: 100vh;
    overflow-x: hidden;
    /* display:flex;
    flex-direction: column; */
}


:root {
    --main-color: white;
    --sub-color: gray;
    --main-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --main-font-size: 20px;
    --bg-color: rgb(0, 0, 0);
}
